input[class=input_radio] {
    display: none;
}

.gender_label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    padding:1px;
    left: 0;
    border:1px solid #2B65F8;
    border-radius: 50px;
}

input[class=input_radio]:checked + label:before {
    border:1px solid #2B65F8;
    background-color:#2B65F8;
    box-shadow: 0 0 0 3px #fff inset;
    width: 20px;
    height: 20px;
}  
.gender_label
{
	margin-left: 10px;
}
.radio_padding
{
	padding-top: 8px;
	padding-left: 0px;
}
.input_radio
{
	margin-right: 4px!important;
}
.opacity_7 {
    opacity: 0.7;
}
.gender_label {
    margin-left: 10px;
}
.radio_margin
{
	margin-left: 13px;
}
.liteoxide-firstname-input:focus
{
	width: 100%;
}
.float-label-control label
{
	color: #2B65F8;
}
.btn-signin-liteoxidelandingpage
{
	width: auto;
}
.logo_padding
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.span_red_margin
{
	margin-top: 3px;
    float: right;
}
ul.c-menu__items > li
{
	width: 70%;
}
.navigation > ul.c-menu__items > li > a
{
	float: left;
}
.ad-col-right
{
	display: none;
}
.modal-content
{
	margin-top: 10%;
}
.dropdown-menu
{
	left: -6px;
}
.dropdown-menu
{
	padding-top: 17px;
	padding-bottom: 17px;
}


@media only screen and (min-width: 0px) and (max-width: 480px) {
.main
 {
 	width: 100%;
 }	
 .logo_padding
 {
 	position: absolute;
    left: 95%;
 }
 .user_profile > ul
 {
 	float: left;
 }
 .user_profile
 {
 	margin-left: -100%;
 }
 .dropdown-menu {
    top: 27px;
    left: 29px;
 }
 #c-button--slide-left
 {
 	right: 21px;
 	cursor: pointer;
 }
 body
 {
 	overflow-x:hidden;
 }
 .chat_list_container
 {
 	width: 100%;
 	right: 0px;
 }
 .photo-counter
 {
 	top: 8px!important;
 	right: 4px!important;
 }
 .people-nearby-filter
 {
 	margin-top: -10%;
 }

}
@media screen and (min-width: 481px) and (max-width: 992px) {
body
{
	overflow-x:hidden;
}
.right-cross-alpha
{
	margin-top: -36px;
}
.main
{
	width: 100%;
}
.visitor_online
 {
 	margin-top: 0px!important;
 }
 .person_box>ul>li
 {
 	font-size: 15px;
 }
 .person_box>ul>p
 {
 	font-size: 15px;
 }
 .people-nearby-filter
 {
 	margin-top: -6%;
 }
}
